/* ========================================
   Footerã€€Styles
   ======================================== */

.footer {
  display: block;
  padding: 46px 0 31px;
  background-color: #0e192d;
  color: #fff
}

@media screen and (max-width: 767px) {
 .footer {
 padding: 28px 0 30px
 }

}