/* ========================================
   Header　Styles
   ======================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  min-width: 1120px;
  background-color: #fff
}

@media screen and (max-width: 767px) {
  .header {
  min-width: 0;
  background-color: transparent
  }

}

@media screen and (max-width: 767px) {
  .header.is-open {
  position: relative
  }

}

@media screen and (max-width: 767px) {
  .header.is-open .header__logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3
  }

}

@media screen and (max-width: 767px) {
  .header.is-open .header__inner {
  margin: 0;
  background-color: #fff;
  box-sizing: initial;
  -webkit-transition: height .25s ease;
  transition: height .25s ease
  }

}

@media screen and (max-width: 767px) {
  .header.is-open .header__menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transition: all .15s ease .25s;
  transition: all .15s ease .25s
  }

}

.home .header {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0)
}

.home .header.is-active {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(.645, .045, .355, 1);
  transition: -webkit-transform 1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
  transition: transform 1s cubic-bezier(.645, .045, .355, 1), -webkit-transform 1s cubic-bezier(.645, .045, .355, 1)
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 70px
}

@media screen and (max-width: 767px) {
  .header__inner {
  display: block;
  height: 50px;
  padding: 0 0 40px;
  -webkit-transition: height .25s ease .25s;
  transition: height .25s ease .25s;
  overflow: hidden
  }

}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 49px;
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease
}

@media screen and (max-width: 767px) {
  .header__logo {
  margin: 0;
  padding: 0 0 0 15px;
  height: 50px
  }

}

@media screen and (min-width: 768px) {
  .header__logo:hover {
  opacity: .5
  }

}

.header__logo__image {
  display: block;
  width: 48px;
  height: 48px
}

@media screen and (max-width: 767px) {
  .header__logo__image {
  width: 40px;
  height: 40px
  }

}

.header__menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

@media screen and (max-width: 767px) {
  .header__menu {
  display: block;
  padding: 81px 0 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease
  }

}

.header__nav {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
  padding: 0 13px 0 0
}

@media screen and (max-width: 767px) {
  .header__nav {
  display: block;
  margin: 0;
  padding: 0
  }

}

.header__nav__item {
  position: initial;
  display: block;
  padding: 0 15px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .05em
}

@media only screen and (max-width: 1180px) {
  .header__nav__item {
  padding: 0 10px
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item {
  margin: 20px 0 0;
  padding: 0 15px
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item:first-child {
  margin-top: 0
  }

}

@media screen and (min-width: 768px) {
  .header__nav__item:hover .header__nav__item__children {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 1
  }

}

.header__nav__item__inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: inherit;
  text-decoration: none
}

@media screen and (max-width: 767px) {
  .header__nav__item__inner {
  display: block;
  height: auto;
  padding: 0 0 0 15px;
  -webkit-transition: padding-left .25s ease;
  transition: padding-left .25s ease
  }

}

.header__nav__item__inner:after {
  position: absolute;
  left: 50%;
  bottom: 12px;
  content: "";
  display: block;
  width: calc(100% + 14px);
  height: 2px;
  background-color: #0e192d;
  -webkit-transform: translate(-50%, 0) rotateY(90deg);
  transform: translate(-50%, 0) rotateY(90deg);
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease
}

@media screen and (max-width: 767px) {
  .header__nav__item__inner:after {
  -webkit-transform: translate(0, 0) rotateY(90deg);
  transform: translate(0, 0) rotateY(90deg);
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 50px;
  left: -15px;
  bottom: 21px
  }

}

@media screen and (max-width: 767px) {
  span.header__nav__item__inner.is-current,
  a.header__nav__item__inner.is-current,
  a.header__nav__item__inner:hover {
  padding-left: 46px
  }

}

@media screen and (min-width: 768px) {
  span.header__nav__item__inner.is-current:after,
  a.header__nav__item__inner.is-current:after,
  a.header__nav__item__inner:hover:after {
  -webkit-transform: translate(-50%, 0) rotateY(0deg);
  transform: translate(-50%, 0) rotateY(0deg)
  }

}

@media screen and (max-width: 767px) {
  span.header__nav__item__inner.is-current:after,
  a.header__nav__item__inner.is-current:after,
  a.header__nav__item__inner:hover:after {
  -webkit-transform: translate(0, 0) rotateY(0deg);
  transform: translate(0, 0) rotateY(0deg);
  -webkit-transform-origin: left;
  transform-origin: left;
  left: -15px;
  bottom: 21px
  }

}

.header__nav__item__ja {
  display: block
}

@media screen and (max-width: 767px) {
  .header__nav__item__ja {
  margin: 1px 0 0;
  font-size: 11px;
  font-weight: 700;
  color: #99001c;
  line-height: 1.6
  }

}

.header__nav__item__en {
  display: none
}

@media screen and (max-width: 767px) {
  .header__nav__item__en {
  display: block;
  font-size: 31px;
  font-family: YakuHanJP, "EB Garamond", serif;
  font-weight: 500;
  line-height: 1
  }

}

@media screen and (min-width: 768px) {
  .header__nav__item__children {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  background-color: #0e192d;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children {
  position: relative;
  top: auto;
  left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0 0 0 15px
  }

}

.header__nav__item__children__item {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  font-family: YakuHanJP, "Montserrat", sans-serif;
  color: #fff
}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item {
  padding: 10px 0 0 2px;
  color: #0e192d;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .04em
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item--large {
  padding: 15px 0 4px;
  font-size: 16px
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item--single {
  padding-top: 15px
  }

}

.header__nav__item__children__column {
  padding: 30px 0
}

@media screen and (max-width: 767px) {
  .header__nav__item__children__column {
  padding: 0
  }

}

.header__nav__item__children__item__inner {
  color: inherit;
  text-decoration: none;
  opacity: 1;
  -webkit-transition-property: opacity, padding;
  transition-property: opacity, padding;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease
}

@media screen and (min-width: 768px) {
  .header__nav__item__children__item__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 6px 25px;
  font-size: 14px
  }

}

@media only screen and (max-width: 880px) {
  .header__nav__item__children__item__inner {
  padding: 6px 12px
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item__inner {
  position: relative;
  color: #0e192d;
  padding: 0
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item__inner:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 1px;
  margin-top: 1px;
  background-color: #0e192d;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease
  }

}

@media screen and (min-width: 768px) {
  .header__nav__item__children__item__inner.is-current,
  .header__nav__item__children__item__inner[href]:hover {
  opacity: .5
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item__inner.is-current,
  .header__nav__item__children__item__inner[href]:hover {
  padding: 0 0 0 13px
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item__inner.is-current:after,
  .header__nav__item__children__item__inner[href]:hover:after {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg)
  }

}

.header__nav__item__children__item__inner--small {
  font-size: 12px
}

.header__nav__item__children__item__inner--small:before {
  display: block;
  content: "";
  width: 6px;
  height: 2px;
  margin-right: 8px;
  background-color: #666
}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item__inner--small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
  padding-left: 30px
  }

  .header__nav__item__children__item__inner--small:before {
  width: 20px;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 1px;
  background-color: #0e192d;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item__inner--small:after {
  left: 20px;
  -webkit-transform-origin: left;
  transform-origin: left
  }

}

@media screen and (max-width: 767px) {
  .header__nav__item__children__item__inner--small.is-current,
  .header__nav__item__children__item__inner--small[href]:hover {
  padding: 0 0 0 43px
  }

}

.header__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

@media screen and (min-width: 768px) {
  .header__buttons {
  width: 284px;
  max-width: 284px;
  -webkit-flex-basis: 284px;
  -ms-flex-preferred-size: 284px;
  flex-basis: 284px;
  height: 70px
  }

}

@media screen and (max-width: 767px) {
  .header__buttons {
  width: 100%;
  margin: 13px 0 0;
  padding: 0 22px
  }

}

.header__buttons__item {
  height: 100%;
  font-size: 13px;
  font-weight: 700
}

@media screen and (max-width: 767px) {
  .header__buttons__item {
  width: 50%;
  max-width: 50%;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  height: 37px;
  margin: 0 8px;
  font-size: 11px
  }

}

.header__buttons__item--user {
  color: #fff;
  background-color: #0e192d
}

@media screen and (min-width: 768px) {
  .header__buttons__item--user {
  width: 160px;
  max-width: 160px;
  -webkit-flex-basis: 160px;
  -ms-flex-preferred-size: 160px;
  flex-basis: 160px
  }

}

.header__buttons__item--contact {
  color: #fff;
  background-color: #99001c
}

@media screen and (min-width: 768px) {
  .header__buttons__item--contact {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
  }

}

.header__buttons__item__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease
}

@media screen and (min-width: 768px) {
  .header__buttons__item__inner {
  height: 70px
  }

}

@media screen and (max-width: 767px) {
  .header__buttons__item__inner {
  height: 37px
  }

}

@media screen and (min-width: 768px) {
  .header__buttons__item__inner:hover {
  opacity: .5
  }

}

.header__buttons__item__icon {
  display: inline-block;
  margin: 0 10px 0 0
}

.header__buttons__item__icon--user svg {
  width: 16px;
  height: 20px;
  fill: #fff
}

@media screen and (max-width: 767px) {
  .header__buttons__item__icon--user svg {
  width: 12px;
  height: 16px
  }

}

.header__sub-buttons {
  display: none
}

@media screen and (max-width: 767px) {
  .header__sub-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 49px 0 0;
  padding: 0 26px
  }

}

@media screen and (max-width: 767px) {
  .header__sub-buttons__item {
  display: block;
  width: 33.3333%;
  max-width: 33.3333%;
  -webkit-flex-basis: 33.3333%;
  -ms-flex-preferred-size: 33.3333%;
  flex-basis: 33.3333%;
  font-size: 11px;
  font-weight: 700;
  margin: 0 4px
  }

}

@media screen and (max-width: 767px) {
  .header__sub-buttons__item__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  height: 34px;
  border: 1px solid #0e192d
  }

}

.header__sub-buttons__item__inner.is-current {
  background-color: #0e192d;
  color: #fff
}

.header__hamburger {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 50px;
  height: 48px;
  padding: 13px 15px
}

@media screen and (max-width: 767px) {
  .header__hamburger {
  display: block
  }

}

.header__hamburger.is-active {
  position: fixed;
  z-index: 3
}

.header__hamburger.is-active .header__hamburger__border--top {
  top: 50%;
  margin-top: -1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__hamburger.is-active .header__hamburger__border--center {
  opacity: 0
}

.header__hamburger.is-active .header__hamburger__border--bottom {
  bottom: 50%;
  margin-bottom: -1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__hamburger__inner {
  position: relative;
  width: 20px;
  height: 20px
}

.header__hamburger__border {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #0e192d;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  cursor: pointer
}

.header__hamburger__border--top {
  top: 0
}

.header__hamburger__border--center {
  top: 50%;
  margin-top: -1px
}

.header__hamburger__border--bottom {
  bottom: 0
}
